

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Python Flask Bucket List App</title>
 
    
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
 
    <link href="signup.css" rel="stylesheet">
    
  </head>
 
  <body>
 
<body>
    <div class="container">
        <h4>Register</h4>
        <br>
        {%  from "_formhelpers.html" import render_field %} 
        <form  method=post action="/sign">
            <dl>
              {{render_field(form.username)}}
              {{render_field(form.password)}}
              {{render_field(form.confirm)}}
              {{render_field(form.accept_tos)}}
            </dl>
            <p><input class="btn btn-warning" type=submit value=Register></p>

            </form>
            {% if error %}
                <p class="error"><strong>Error</strong>{{error}}</p>
            {% endif %}
    </div>
</body>


  
       
 
      <footer class="footer">
        <p>&copy; Company 2017</p>
      </footer>
 
    </div>
  </body>
</html>